# ------------------------------------------------------------------------------
# Project : PkgTest                                                /          \
# Filename: MANIFEST.in                                           |     ()     |
# Date    : 05/11/2023                                            |            |
# Author  : cyclopticnerve                                        |   \____/   |
# License : WTFPLv2                                                \          /
# ------------------------------------------------------------------------------

# -)
